@use "../assets/styles/globals.colors.scss" as *;

.container {
    min-height: 100vh;
    max-width: 640px;
    margin: 0 auto;
    padding: 32px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.message {
    font-size: 14px;
    opacity: 0.9;
}

.items {
    margin-top: 16px;
}

.subTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 6px;

    & .itemSummary {
        display: flex;
        gap: 8px;

        & .itemQuantity {
            margin-right: 8px;
        }
    }

    & .listItem {
        display: contents;

        & .itemRight {
            margin-left: auto;
        }
    }
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 14px;
}

.itemID {
    opacity: 0.9;
}

.itemQuantity {
    font-weight: 600;
}

.orderButton {
    @include bg-set($color-holder-accent);
    min-width: 120px;
    padding: 10px 16px;
    border-radius: 999px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    max-width: 350px;
    margin-left: auto;
    margin-right: 24px;
    margin-top: 24px;

    &:hover {
        @include bg-set($color-holder-accent);
        border-color: colmap-hsla(colmap-transform-alpha(colmap-threshold($color-accent, 0, -50, 10), 0.5));
        box-shadow: 0 0 15px colmap-hsla(colmap-transform-alpha(colmap-threshold($color-accent, 0, -50, 10), 0.75));
    }

    &:active {
        background: colmap-hsla(colmap-threshold-lightness($color-accent, -10));
        border-color: colmap-hsla(colmap-transform-alpha(colmap-threshold($color-accent, 0, -50, 10), 0.75));
        box-shadow: 0 0 7px colmap-hsla(colmap-transform-alpha(colmap-threshold($color-accent, 0, -50, 10), 0.5));
    }
}